@import url("./tree.css");

tree-grid.filesystem {
  grid-template-columns:
    [file-select] 60px
    [file-names] 1fr
    [current-row] 40px
  ;

  max-height: 100%;
  overflow: scroll;

  background-color: #000066;
}

tree-grid.filesystem tree-row > :first-child {
  grid-column-start: file-select;
}

tree-grid.filesystem input {
  color: #ffffff;
}
