.file-system-controls-grid {
  display: grid;
  grid-template-columns: 200px 200px;
  row-gap: 5px;
}

input[list="file-systems-list"] {
  width: 200px;
}

#file-system-details-grid {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 40%;
  row-gap: 5px;
}
