/* #region main graph */
#report-panels svg circle,
#report-panels svg rect {
  fill: #ffffff;
  stroke: black;
  stroke-width: 1px;
}

#report-panels svg text {
  fill: black;
  font-size: 12px;
}

#report-panels svg path[d] {
  stroke: black;
  stroke-width: 2px;
}

#report-panels svg .heldValues-node circle {
  stroke: green;
}

#report-panels svg .target-node circle {
  stroke: red
}

#report-panels svg .builtin-icon {
  font-size: 24px;
  transform: translate(-12px, -20px);
}

#report-panels svg .builtin-icon-pair {
  font-size: 24px;
  transform: translate(-8px, -20px);
}

#report-panels svg .builtin-icon.grey,
#report-panels svg .builtin-icon-pair.grey {
  fill: #999999;
}

#report-panels svg .isWeakReference > path {
  stroke-dasharray: 10px 10px;
  stroke: #999999;
}

#report-panels svg .isWeakReference > defs > marker > path {
  fill: #999999;
  stroke: #999999;
}

#report-panels svg g.selected > :is(circle, rect) {
  animation-duration: 1s;
  animation-name: node-pulse;
  animation-iteration-count: 6;
  animation-direction: alternate;
}

@keyframes node-pulse {
  from {
    stroke-width: 1px;
  }

  to {
    stroke-width: 3px;
  }
}

#report-panels svg foreignObject {
  overflow-y: scroll;
  overflow-x: auto;
}

/* #endregion main graph */

/* #region constructors and edges pppup */
.svg-node-overlay {
  display: grid;
  grid-template-columns: [in-edges] 1fr [out-edges] 1fr 1fr [column-end];
  font-size: 10px;
  border: 1px dashed black;
  background-color: #cccccc;
}

.svg-node-overlay > .span-all-columns {
  grid-column-start: 1;
  grid-column-end: column-end;
}

.svg-node-overlay > .className {
  justify-self: center;
  font-size: larger;
  font-weight: bold;
}

.svg-node-overlay > .className.isClassLink::after {
  content: "*"
}

.svg-node-overlay > in-edges,
.svg-node-overlay > in-edges > *,
.svg-node-overlay > out-edges,
.svg-node-overlay > out-edges > * {
  display: contents;
}

.svg-node-overlay > in-edges > * > :first-child {
  grid-column-start: in-edges;
}

.svg-node-overlay > out-edges > * > :first-child {
  grid-column-start: in-edges;
}

.svg-node-overlay > in-edges > :first-child > :first-child {
  grid-row-start: 2;
}

.svg-node-overlay .edge.weakreference {
  font-style: italic;
}

.svg-node-overlay .edge:before {
  content: "[";
}

.svg-node-overlay .edge:after {
  content: "] \21d2";
}

.svg-node-overlay .edge.weakreference:after {
  content: "]";
}

.svg-node-overlay a {
  color: #0000ff;
}
/* #endregion constructors and edges pppup */
