#report-panels svg circle {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}

#report-panels svg text {
  fill: black;
  font-size: 12px;
}

#report-panels svg path[d] {
  stroke: black;
  stroke-width: 2px;
}

#report-panels svg .heldValues-node circle {
  stroke: green;
}

#report-panels svg .target-node circle {
  stroke: red
}
