tree-grid {
  display: grid;
  --depth-even: 0;
  --depth-odd: -2;
}

tree-row.depth-odd {
  --depth-odd: calc(var(--depth-even) + 1);
}

tree-row.depth-even {
  --depth-even: calc(var(--depth-odd) + 1);
}

tree-rows, tree-row {
  display: contents;
}

tree-row > .indent::before {
  padding-left: calc(max(var(--depth-odd), var(--depth-even)) * 10px);
}

tree-row.is-collapsible > .indent::before {
  content: "- ";
}

tree-row.is-collapsible.collapsed > .indent::before {
  content: "+ ";
}

tree-row:not(.is-collapsible) > .indent::before,
tree-grid > tree-row > .indent::before {
  content: none;
}

tree-row:not(.is-collapsible) > .indent {
  padding-left: calc((max(var(--depth-odd), var(--depth-even)) + 2) * 10px );
}

tree-row.collapsed > tree-row {
  display: none;
}
