body {
  background-color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#workbench {
  min-width: 1040px;
  display: grid;
  grid-template-columns:
    [file-names] 1fr
    [main-display] 4fr
    [column-end];
  grid-template-rows: 30px 450px 30px 450px 30px;
  column-gap: 10px;
  row-gap: 10px;
}

#workbench > * {
  border: 1px dashed black;
  row-gap: 5px;
  column-gap: 5px;
  margin: 2px;
  padding: 2px;
}

.lastRun {
  grid-column: file-names;
  grid-row: 1;
}

tab-bar {
  grid-column: main-display;
  grid-row: 1;
  width: 100%;
}

tab-bar > label {
  outline: 2px solid black;
  background-color: #cccccc;
}

tab-bar > label.selected {
  background-color: #ffffff;
}

report-selector {
  grid-column: file-names;
  grid-row: 2;
  min-width: 200px;
  min-height: 450px;
}

report-selector, file-system {
  width: 100%;
  height: 100%;
  background-color: #000066;
  color: #ffff00;
  font-family: 'Courier New', Courier, monospace;
}

tab-panels {
  grid-column: main-display;
  min-width: 800px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

tab-panels > :not(.active) {
  display: none;
}

#output-logs {
  grid-row: 2;
}

#workspace-selector {
  grid-column: file-names;
  grid-row: 3;
}

#runSearchesButton {
  grid-column: main-display;
  grid-row: 3;
}

file-system {
  grid-row: 4;
}

#codemirror-panels {
  grid-column: main-display;
  grid-row: 4;
}

workbench-footer {
  grid-column: file-names;
  grid-row: 5;
  width: 100%;
  display: block;
}

.hidden {
  display: none;
}
